body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh; 
    flex-direction: column;
    margin: 0;
}

#btn {
    display: flex;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width:40%;
}

.customDiv {

    /*width: calc(6.25%);*/
    
    aspect-ratio: 1;
    box-sizing: border-box;
    
}
